@unocss all;

.border-gradient {
  border-image: linear-gradient(to right, rgba(0,0,0,0.5) 10%, #01B834 80%, rgba(0,0,0,0.5) 10%) 0 0 100% 0;
  border-width: 1px;
  border-style: solid;
}

.btn,
.wallet-adapter-button-trigger {
  @apply flex space-x-2 items-center justify-center px-4 py-2 font-normal;
}

.btn-primary {
  @apply bg-primary/100 rounded-md hover:bg-primary/70 active:bg-primary/90;
}

.btn-tab {
  @apply flex items-center space-x-2 px-2 border-1 border-dark divide-x divide-dark rounded-md hover:text-highlight;
}

.btn-tab p {
  @apply p-2;
}

.btn-dark,
.wallet-adapter-button-trigger {
  @apply bg-white/5 border-1 border-primary/25 rounded-md hover:bg-white/10 active:bg-white/20;
}

::-webkit-scrollbar {
  width: 0;
  height: 0F;
}

.rdtPicker {
  @apply !bg-black !text-white;
}

th {
  @apply sticky top-0 text-highlight;
}

th {
  @apply p-2 text-center text-normal font-normal text-nowrap;
}

td {
  @apply p-2 text-center text-nowrap vertical-middle;
}

th,
td {
  @apply px-4 text-center;
}

table {
  @apply w-full;
}

/* .marquee {
 animation: marquee 20s ease-out infinite; 
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(0);
  }
} */